@model MvcWebStore.Models.Category

@{
    ViewBag.Title = "ProductByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductByCategory</h2>

<h2>Browsing Category: @Model.CategoryName</h2>
<ul>
    @foreach (var product in Model.Products)
    {
        <li>
            @Html.ActionLink(product.ProductName, "ProductDetails", "Product", new { id = product.ProductID }, null)
        </li>
    }
</ul>


